
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:linear-gradient(135deg,#12071a,#1c1024);
  color:#fff;
}

/* GLASS BASE */
.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(14px);
  border:1px solid rgba(255,255,255,0.15);
  border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  position:sticky;
  top:0;
  z-index:10;
}

.nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

.nav a{
  text-decoration:none;
  color:#e8b9ff;
}

.nav a:hover{
  color:white;
}

.logo{
  font-weight:700;
}

/* HERO */
.hero{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  padding:80px 20px;
  flex-wrap:wrap;
}

.hero-text{
  padding:40px;
  max-width:500px;
}

.hero-text span{
  color:#e86eef;
}

.hero-img{
  padding:25px;
}

.hero-img img{
  width:260px;
  height:260px;
  object-fit:cover;
  border-radius:50%;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 22px;
  border-radius:25px;
  background:#711f76;
  color:white;
  text-decoration:none;
}

/* SECTIONS */
.section{
  padding:70px 40px;
}

.section h2{
  text-align:center;
  margin-bottom:40px;
  color:#e86eef;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

/* CARDS */
.card{
  padding:18px;
  text-align:center;
  transition:.3s;
}

.card:hover,.block:hover{
  transform:translateY(-6px);
}

/* BLOCK */
.block{
  padding:30px;
}

/* TEXT */
.block span{
  color:#ccc;
  font-size:.9rem;
}

.block ul{
  margin-top:12px;
  padding-left:18px;
}

.block li{
  margin-bottom:6px;
}

/* CONTACT */
.contact{
  text-align:center;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  color:#aaa;
}

/* MOBILE */
@media(max-width:768px){
  .nav ul{display:none;}
  .hero{text-align:center;}
}


.hero-img{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Purple circular ring */
.profile-ring{
  width:300px;
  height:300px;
  border-radius:50%;
  background:linear-gradient(135deg,#711f76,#711f76);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:6px;
  box-shadow:0 0 40px rgba(177,76,255,0.45);
}

/* Actual image */
.profile-ring img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
  background:#1c1024;
}

.profile-ring{
  transition:transform 0.4s ease, box-shadow 0.4s ease;
}

.profile-ring:hover{
  transform:scale(1.05);
  box-shadow:0 0 55px #711f76;
}
.glass:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 35px #711f76;
  border-color: #e86eef;
}


